<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">



    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>

    <style>
        .productInfo{
            padding:0 0 0 10px;
            margin:0;
            color:black;

        }
        .mainContainer{
            padding:200px;
        }
        #mainItem{
            transition: all 0.4s;
        }
    </style>
    <title>Title</title>
</head>
<body>
    <th:block th:replace="/layout/header.html :: header"></th:block>
    <input type="hidden" th:value="${store_id}" id="store_id">
    <main id="mainItem">
        <div class="container">
            <div style="padding-top:20px; max-height: 1000px; overflow: auto" id="msgZone">
                <div class="msgArea">
                <!-- 채팅이오는곳-->
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="/layout/footer.html :: footer"></th:block>

    <script>
        let socket = new WebSocket("ws://localhost:8080/websocket");

        const store_id = document.getElementById('store_id');

        socket.onopen = (e) => {
            console.log("open server");
        };

        socket.onerror = (e) => {
            console.log(e);
        };

        socket.onmessage=(e)=>{

            let parseInfo = JSON.parse(e.data);
            if (parseInfo[parseInfo.length-1] === Number(store_id.value)) {
                console.log('ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ')
                parseInfo.pop();
                let msgArea = document.querySelector('.msgArea');
                let newMsg = document.createElement('div');
                let productMsg = document.createElement('div');

                console.log(parseInfo);
                let date = new Date();
                let realMsg = '<div style="margin-bottom:20px; border-radius: 18px; background: #dadfe5; padding:10px;">' +
                    '<p style="padding:0 0 0 10px; margin:0px; background: rgb(176 192 175); font-size:18px; border-radius: 10px 10px 0 0;">' +
                    '<strong style="color:black">주문번호 :' + parseInfo[parseInfo.length - 1] + '번 </strong></p>';
                let totalPrice = 0;


                for (let i = 0; i < parseInfo.length - 1; i++) {
                    let product = parseInfo[i].product;
                    let price = parseInfo[i].qty * product.price;

                    realMsg += '<p class="productInfo">' + product.product_name + ": " + product.price + " * " + parseInfo[i].qty + " = " + price + '</p>';
                    totalPrice += price;
                }

                realMsg += '<p style="font-size:18px; color:black; text-align: right; ">TotalPrice : ' + totalPrice + '</p></div>';

                newMsg.innerText = 'System : ' + "새 주문이 도착했습니다." + date.getHours() + ":" + date.getMinutes();
                productMsg.innerHTML = realMsg;
                msgArea.append(newMsg);
                msgArea.append(productMsg);
                document.getElementById('msgZone').scrollTop = document.getElementById('msgZone').scrollHeight;

                insertAjax(parseInfo);
                sendMsg();
                document.getElementById('mainItem').style.background = "#f2e4e4";
                setTimeout(()=>{
                    document.getElementById('mainItem').style.background = '#ffffff';
                },300)
            }


        }

        getBeforeOrders();

        function sendMsg(){
            socket.send("주문이 요청 되었습니다.");
        }

        function insertAjax(parseInfo){

            let chatData={member_id:"999", member_nick:"손님", comment:"빨리만들어주세요~"}

            $.ajax({
                url: '/insertOrder',
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(chatData),
                success: (returnData) => {

                    for(let i = 0 ; i < parseInfo.length-1 ; i++){
                        let json = {product_id:parseInfo[i].product.product_id
                            , order_id:parseInfo[parseInfo.length-1]
                        ,value:parseInfo[i].qty}

                        $.ajax({
                            url: '/insertOrderDetail',
                            type: 'POST',
                            contentType: 'application/json;charset=UTF-8',
                            data: JSON.stringify(json),
                        })
                    }

                }
            });
        }


        function getBeforeOrders(){
            $.get('/getBeforeOrders?store_id='+store_id.value, (Lists) => {
                console.log(Lists);
                let beforeListOrder = Lists[0].order_id;
                let realMsg = "";
                let msgArea = document.querySelector('.msgArea');
                let totalPrice = 0;
                let idx= 0;
                for (list of Lists) {

                    if(idx===0){
                        realMsg='<div style="margin-bottom:20px; border-radius: 18px; background: #dadfe5; padding:10px;">' +
                            '<p style="padding:0 0 0 10px; margin:0px; background: rgb(176 192 175); font-size:18px; border-radius: 10px 10px 0 0;">' +
                            '<strong style="color:black">주문번호 :'+list.order_id+'번 </strong></p>';
                    }

                    if(list.order_id===beforeListOrder){
                        let price = list.price * list.value;
                        realMsg += '<p class="productInfo">' + list.product_name + ": " + list.price + " * " + list.value + " = " + price + '</p>';
                        totalPrice+=price;
                    }else{

                        realMsg += '<p style="font-size:18px; color:black; text-align: right; ">TotalPrice : '+totalPrice+'</p></div>'
                        totalPrice = 0;

                        beforeListOrder = list.order_id;
                        let newMsg = document.createElement('div');
                        newMsg.innerText = 'System : ' + "새 주문이 도착했습니다." + list.order_regdate;
                        let productMsg = document.createElement('div');
                        productMsg.innerHTML = realMsg;

                        msgArea.append(newMsg);
                        msgArea.append(productMsg);

                        realMsg='<div style="margin-bottom:20px; border-radius: 18px; background: #dadfe5; padding:10px;">' +
                            '<p style="padding:0 0 0 10px; margin:0px; background: rgb(176 192 175); font-size:18px; border-radius: 10px 10px 0 0;">' +
                            '<strong style="color:black">주문번호 :'+list.order_id+'번 </strong></p>';

                    }

                    idx++

                    if(idx===Lists.length){

                        let price = list.price * list.value;
                        realMsg += '<p class="productInfo">' + list.product_name + ": " + list.price + " * " + list.value + " = " + price + '</p>';
                        totalPrice+=price;

                        realMsg += '<p style="font-size:18px; color:black; text-align: right; ">TotalPrice : '+totalPrice+'</p></div>'
                        totalPrice = 0;

                        beforeListOrder = list.order_id;
                        let newMsg = document.createElement('div');
                        newMsg.innerText = 'System : ' + "새 주문이 도착했습니다." + list.order_regdate;
                        let productMsg = document.createElement('div');
                        productMsg.innerHTML = realMsg;

                        msgArea.append(newMsg);
                        msgArea.append(productMsg);
                    }
                }
                document.getElementById('msgZone').scrollTop = document.getElementById('msgZone').scrollHeight;
            });
        }

    </script>
    <!-- Popper js -->
    <script th:src="@{/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
</body>
</html>