<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">



    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>

    <style>
        .productInfo{
            padding:0 0 0 10px;
            margin:0;
            color:black;

        }
        .mainContainer{
            padding:200px;
        }
    </style>
    <title>Title</title>
</head>
<body>
    <th:block th:replace="/layout/header.html :: header"></th:block>

    <main>
        <div class="container">
            <div style="padding-top:20px; max-height: 1000px; overflow: auto">
                <div class="msgArea">
                <!-- 채팅이오는곳-->
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="/layout/footer.html :: footer"></th:block>

    <script>
        let socket = new WebSocket("ws://localhost:8080/websocket");

        socket.onopen = (e) => {
            console.log("open server");
        };

        socket.onerror = (e) => {
            console.log(e);
        };

        socket.onmessage=(e)=>{
            console.log(e.data);
            let msgArea = document.querySelector('.msgArea');
            let newMsg = document.createElement('div');
            let productMsg = document.createElement('div');
            let parseInfo = JSON.parse(e.data);
            console.log(parseInfo);
            let date = new Date();
            let realMsg = '<div style="margin-bottom:20px; border-radius: 18px; background: #dadfe5; padding:10px;">' +
                '<p style="padding:0 0 0 10px; margin:0px; background: rgb(176 192 175); font-size:18px; border-radius: 10px 10px 0 0;">' +
                '<strong style="color:black">주문번호 :'+parseInfo[parseInfo.length-1]+'번 </strong></p>';
            let totalPrice = 0;
            for(let i = 0 ; i < parseInfo.length-1 ; i++){
                let product = parseInfo[i].product;
                let price = parseInfo[i].qty * product.price;

                realMsg += '<p class="productInfo">' + product.product_name + ": " + product.price + " * " + parseInfo[i].qty + " = " + price + '</p>';
                totalPrice+=price;
            }

            realMsg += '<p style="font-size:18px; color:black; text-align: right; ">TotalPrice : '+totalPrice+'</p></div>'

            newMsg.innerText = 'System : '+"새 주문이 도착했습니다."+date.getHours()+":"+date.getMinutes();
            productMsg.innerHTML = realMsg;
            console.log(parseInfo);
            msgArea.append(newMsg);
            msgArea.append(productMsg);
            document.body.scrollTop = document.body.scrollHeight;

            insertAjax(parseInfo);
            sendMsg();
        }

        function sendMsg(){
            socket.send("주문이 요청 되었습니다.");
        }

        function insertAjax(parseInfo){

            let chatData={member_id:"999", member_nick:"손님", comment:"빨리만들어주세요~"}

            $.ajax({
                url: '/insertOrder',
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(chatData),
                success: (returnData) => {

                    for(let i = 0 ; i < parseInfo.length-1 ; i++){
                        let json = {product_id:parseInfo[i].product.product_id
                            , order_id:parseInfo[parseInfo.length-1]
                        ,value:parseInfo[i].qty}

                        $.ajax({
                            url: '/insertOrderDetail',
                            type: 'POST',
                            contentType: 'application/json;charset=UTF-8',
                            data: JSON.stringify(json),
                        })
                    }

                }
            });
        }

        function getBeforeOrders(){
            $.get('/getBeforeOrders', (Lists) => {
                console.log(Lists);

            });
        }

    </script>
    <!-- Popper js -->
    <script th:src="@{/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
</body>
</html>