<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Qcat.Qcat.chat.repository.ChatMapper">

    <resultMap type="com.Qcat.Qcat.chat.dto.OrderDto" id="dtoOrderBase">
        <id column="order_id" property="order_id"/>
        <result column="member_id" property="member_id"/>
        <result column="member_nick" property="member_nick"/>
        <result column="order_regdate" property="order_regdate"/>
        <result column="comment" property="comment"/>
    </resultMap>

    <parameterMap type="com.Qcat.Qcat.chat.dto.OrderDetailDto" id="dtoOrderDetailBase">
        <parameter property="detail_id"/>
        <parameter property="product_id"/>
        <parameter property="order_id"/>
        <parameter property="value"/>

    </parameterMap>

    <select id="getLastOrder" resultType="int" >
        SELECT max(order_id) FROM orders
    </select>

    <insert id="insertOrder" parameterType="com.Qcat.Qcat.chat.dto.OrderDto">
        INSERT INTO orders(member_id, member_nick, comment) VALUES(#{member_id}, #{member_nick},#{comment})
    </insert>

    <insert id="insertOrderDetail" parameterType="com.Qcat.Qcat.chat.dto.OrderDto">
        INSERT INTO order_detail(product_id, order_id, value) VALUES(#{product_id}, #{order_id},#{value})
    </insert>
</mapper>