<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">



    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>

    <style>
        #treadingPost{
            -ms-overflow-style: none; /* IE and Edge */
            overflow: auto;
        }
        #treadingPost::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
            overflow: auto;
        }
        .oneItem:hover{
            transition: all 0.3s;
            background: #dadfe5;
            cursor: pointer;
        }
        .modals{
            position:absolute;
            width:100%;
            height:100%;
            background: rgba(0,0,0,0.8);
            top:0;
            left:0;
            display:none;
        }
    </style>

    <title>Title</title>
</head>
<body>
    <th:block th:replace="/layout/header.html :: header"></th:block>

    <main>
        <!-- ##### Treading Post Area Start ##### -->
        <div class="treading-post-area" id="treadingPost">
            <div class="close-icon">
                <i class="fa fa-times"></i>
            </div>

            <h4>Treading Post</h4>

            <!-- Single Blog Post -->
            <div id="Bucket">
                    <!-- 새로 추가한 이미지들이 올라가는곳-->
            </div>

            <div id="priceArea">
                <div style="height: 50px; ">
                    <div style="border-bottom:1px solid rgb(235, 235, 235);">
                        <div style="margin-bottom: 10px;" id="priceItem">
                            <div>
                                <div style="width: 70%; font-size:14px; padding:0; margin:0; font-weight: 400;">
                                    <span>mushrooms</span>
                                </div>
                                <div style="padding:0; margin:0; font-size:10px;">
                                    <span>5000 x 5 = 25000</span>
                                </div>
                            </div>
                        </div>
                        <div style="padding:13px 0 0 0; margin:0 0 20px 0; font-size:14px; font-weight: 600; display: flex; justify-content: space-between; align-items: baseline;">
                            <div><span>Price:</span><span id="totalPrice">0</span>₩</div>
                            <input type="button" value="Buy" style="border:none; background:rgb(190,210,210); border-radius:20px; padding:5px 10px;" onclick="sendMsg()">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="text-align: right; padding-right: 20px;">
            <span>후기 보기 >></span>
        </div>

        <div th:each="cate : ${categories} ">
            <div class="bueno-search-area bg-img" style="background-image: url(/display?fileName=img/core-img/pattern.png); padding:10px 0; font-size: 20px; font-weight: bold;">
                <div style="text-align: center;">
                    <span class="categori-title" th:text="${cate.category}">Best menu</span>
                </div>
            </div>


            <!-- ##### Catagory Post Area Start ##### -->
            <div class="catagory-post-area section-padding-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- Post Area -->
                        <div class="col-12 col-lg-8 col-xl-9">

                            <!-- Single Blog Post -->
                            <div class="single-blog-post style-1 d-flex flex-wrap mb-30 oneItem" th:each="menu : ${menuList}"
                                                      th:if="${cate.category == menu.category}" th:onclick="addBucket([[${menu}]])">
                                <input type="hidden" th:value="${menu.category}" class="categories">
                                <!-- Blog Thumbnail -->
                                <div class="blog-thumbnail">
                                    <img th:src="|/display?fileName=${menu.img}|" style="height: 250px;" alt="">
                                </div>
                                <!-- Blog Content -->
                                <div class="blog-content">
                                    <a href="#" class="post-tag" th:text="${menu.category}">The Best</a>
                                    <a href="#" class="post-title" th:text="${menu.product_name}">Friend eggs with ham</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-date">July 11, 2018</a>
                                        <a href="#" class="post-author" th:text="${menu.price}">By Julia Stiles</a>
                                    </div>
                                    <p th:text="${menu.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit bibendum pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu tempus.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                <div style="text-align: right">
                    <a href="#" th:onclick="createSession([[${cate.category}]],[[${cate.store_id}]])">더 많은 상품보기>></a>
                </div>
                </div>
            </div>
        </div>


            <!-- ##### Catagory Post Area End ##### -->

            <!-- ##### Instagram Area Start ##### -->
            <div class="instagram-feed-area d-flex flex-wrap">
                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta1.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta1.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta2.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta2.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta3.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta3.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta4.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta4.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta5.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta5.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta6.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta6.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta7.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta7.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta8.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta8.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta9.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta9.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>

                <!-- Single Instagram -->
                <div class="single-instagram">
                    <img src="/display?fileName=img/bg-img/insta10.jpg" alt="">
                    <!-- Image Zoom -->
                    <a href="/display?fileName=img/bg-img/insta10.jpg" class="img-zoom" title="Instagram Image">+</a>
                </div>
            </div>
            <!-- ##### Instagram Area End ##### -->
        </div>
    </main>

    <input type="text" placeholder="보낼 메세지를 입력하세요" class="content">
    <input type="button" value="전송" class="sendBtn" onclick="sendMsg()">
    <div>
        <span>메세지</span>
        <div class="msgArea"></div>
    </div>

    <th:block th:replace="/layout/footer.html :: footer"></th:block>

    <script>
        let cart=[];

        addCartSession();

        function addCartSession(){
            if(sessionStorage.getItem('cart')){
                let tempCart = JSON.parse(sessionStorage.getItem('cart'));
                for(let i = 0; i < tempCart.length ; i++){
                    cart.push(tempCart[i]);
                }
                addBuckHtml();
                addTotalPrice();
            }
        }


        function createSession(category,store_id){
            sessionStorage.setItem('cart', JSON.stringify(cart));
            let url = '/menuDetailList/' + category + '/' + store_id + '/1';
            location.href=url;
        }



        function addBucket(menu){
            console.log(menu);

            let menuInfo = {product: menu, product_name: menu.product_name, qty: 1};

            console.log('for문 전');

            if(checkMenu(menu)===false){
                addBuckHtml();
                addTotalPrice();
            }else{
                cart.push(menuInfo);
                addBuckHtml();
                addTotalPrice();
            }

        }

        function addTotalPrice(){
            const totalPrice = document.getElementById('totalPrice');
            totalPrice.innerHTML = calculatePrice().toLocaleString();
        }

        function checkMenu(menu){
            let idx=0;

            for(let i = 0 ; i<cart.length ; i++){
                if(cart[i].product_name === menu.product_name){
                    cart[i].qty++;
                    return false;
                }
                idx++;
            }

            return idx;
        }


        function addBuckHtml(){
            let bucket = document.getElementById('Bucket').innerHTML;
            let addedHtml = "";
            for(list of cart){
            addedHtml += '                <div class="single-blog-post style-1 d-flex flex-wrap mb-30" >' +
                '                    <!-- Blog Thumbnail -->' +
                '                    <div class="blog-thumbnail">' +
                '                        <img src="/display?fileName='+list.product.img+'" style="height: 80%" alt="">' +
                '                    </div>' +
                '                    <!-- Blog Content -->' +
                '                    <div class="blog-content">' +
                '                        <a href="#" class="post-tag">'+list.product.category+'</a>' +
                '                        <a href="#" class="post-title" name="product_name">'+list.product.product_name+'</a>' +
                '                        <div class="post-meta">' +
                '                            <a href="#" class="post-date">'+list.product.price+'</a>' +
                '                            <a href="#" class="post-author">' +
                '                                <div>' +
                '                                    <input type="button" value="-" style="height: 18px; width:13px; border:none;" onclick="calculateBtn(1,\''+list.product_name+'\')">' +
                '                                    <input type="text" name="itemAmount" value="'+list.qty+'" style="width:20%; height: 18px; border:none;">' +
                '                                    <input type="button" value="+" style="height: 18px; width:13px; border:none;" onclick="calculateBtn(2,\''+list.product_name+'\')">' +
                '                                </div>' +
                '                            </a>' +
                '                        </div>' +
                '                    </div>' +
                '                </div>'
            }
            sessionStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('Bucket').innerHTML=addedHtml;
        }

        function calculateBtn(seperators,productName){
            if(seperators===1){
                for(let i = 0 ; i<cart.length ; i++){
                    if(cart[i].product_name === productName){
                        if(cart[i].qty===1){
                            console.log(cart);
                            cart.splice(i,1);

                            console.log('누른 후');
                            console.log(cart);


                        }else{
                        cart[i].qty--;
                        }
                        addBuckHtml();
                        addTotalPrice();
                    }
                }
            }else{
                for(let i = 0 ; i<cart.length ; i++){
                    if(cart[i].product_name === productName){
                        cart[i].qty++;
                        addBuckHtml();
                        addTotalPrice();
                    }
                }
            }

        }

        function calculatePrice(){
            let bucketTotalPrice = 0;
            for(let i = 0 ; i < cart.length ; i++){
                bucketTotalPrice += cart[i].product.price * cart[i].qty;
            }
            return bucketTotalPrice;
        }

    </script>

    <script>


        let socket = new WebSocket("ws://localhost:8080/websocket");

        socket.onopen = (e) => {
            console.log("open server");
        };

        socket.onerror = (e) => {
            console.log(e);
        };

        socket.onmessage=(e)=>{
            alert(e.data);

        }


        function sendMsg(){
            $.get('/getOrderNum', (orderNum) => {
                cart.push(orderNum);
                console.log(cart);
                socket.send(JSON.stringify(cart));
                cart.pop();
            });
        }

    </script>

    <!-- Popper js -->
    <script th:src="@{/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
</body>
</html>