<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">



    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>


    <title>Title</title>
</head>
<style>
    .uploadResult{
        width:100px;
        height: 100px;
        margin:0;
        padding:0;
        background: rgb(235,235,235);
    }
    .thumbnailImg{
        width:100%;
        height: 100px;
    }

    main{
        margin-bottom: 50px;
    }
</style>
<body>
    <th:block th:replace="/layout/header.html :: header"></th:block>

    <main>
        <div class="container">
            <div>
                <h2>상품등록</h2>
                <form th:action="@{/admin/insertMenu}" th:method="POST">
                    <div style="display:flex; padding:20px;">
                        <div>
                            <div class="uploadResult" >
                                <ul style="font-size:10px;">
                        <!-- 업로드이미지가 올라가는 곳 -->click for upload
                                </ul>
                                <input type="file" class="custom-file-input" id="fileInput" multiple style="width:100%;height: 100%">
                                <label class="custom-file-label" data-browse="Browse"></label>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" value="1" name="store_id">
                        </div>
                        <div class=".box">
                            <input type="hidden" class="inputImg" name="img" value="">
                        </div>
                        <div style="width:80%; padding:10px 10px 10px 30px">
                            <p><input type="text" placeholder="카테고리를 적어주세요" name="category"></p>
                            <p><input type="text" placeholder="상품 이름을 적어주세요" name="product_name"></p>
                            <p><input type="text" placeholder="상품 가격을 적어주세요" name="price" style="margin-left: 50px"></p>
                            <p><input type="text" placeholder="상품 설명을 적어주세요" name="content"></p>
                        </div>
                    </div>
                    <input type="submit" id="submitBtn" th:value="제출">
                </form>
            </div>
        </div>





    </main>

    <th:block th:replace="/layout/footer.html :: footer"></th:block>


    <script>
        $(document).ready(function (e) {
            const regex = new RegExp("(.*?)\\.(exe|sh|zip|alz|tiff)$");
            const maxSize = 10485760; //10MB

            function checkExtension(fileName, fileSize) {

                if (fileSize >= maxSize) {
                    alert("파일 사이즈 초과");
                    return false;
                }

                if(regex.test(fileName)){
                    alert("해당 종류의 파일은 업로드할 수 없습니다.");
                    return false;
                }
                return true;
            }

            $(".custom-file-input").on("change", function () {

                let fileName = $(this).val().split("//").pop(); // //로 나눈배열을 마지막요소제거한후 마지막요소만 반환
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName); //선택된 파일이름으로 바꿔줌 (전부다)

                let formData = new FormData();

                let inputFile = $(this); //여러개파일이라 배열

                let files = inputFile[0].files; //왜 0번인덱스?

                let appended = false;

                for (let i = 0; i < files.length; i++) {
                    if (!checkExtension(files[i].name, files[i].size)) { //파일이 규격에 맞지않으면 업로드안함
                        return false;
                    }

                    console.log(files[i]);
                    formData.append("uploadFiles", files[i]);
                    appended = true;
                }

                //업로드안하기
                if(!appended){
                    return;
                }

                $.ajax({
                    url: '/admin/uploadAjax',
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success:(result)=>{
                        console.log(result);
                        showResult(result);
                    },
                    error:(jqXHR,textStatus,errorThrown)=>{
                        console.log(textStatus);
                    }
                });
            });

            let thumURL = "";
            function showResult(uploadResultArr) { //받은값은 썸네일과 원본파일이름과 경로
                let uploadUL = $(".uploadResult ul");

                let str = "";

                $(uploadResultArr).each((i, obj) => {

                    str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                    str + " <div>";
                    str += "<img class='thumbnailImg' src='/display?fileName=" + obj.thumbnailURL + "'>";
                    str += "<br><button type='button' data-file=\'" + obj.imageURL + "\' "
                    str += "class='btn-warning btn-sm thumbnailBtn'>X</button>";  //버튼다음 br빠짐
                    str += "</div>";
                    str + "</li>";
                    thumURL += obj.thumbnailURL;
                });

                uploadUL.text("");
                uploadUL.append(str);
            }

            $(".uploadResult").on("click", "li button", function (e) {
                console.log("delete file");

                let targetFile = $(this).data("file");

                let targetLi = $(this).closest("li");
                alert(targetFile);
                $.ajax({
                    url: '/admin/removeFile',
                    data: {fileName: targetFile},
                    dataType: 'text',
                    type: 'POST',
                    success: (result) => {
                        alert(result);
                        targetLi.remove();
                    }
                });

                $(".uploadResult ul").text("click for upload");
            });

            //업로드버튼 누르면 preventDefault로 막고 input hidden에 파일의 name,path, uuid를 만들어 폼과함께전송시켜준다.

            $("#submitBtn").on("click", (e) => {
                e.preventDefault();

                let str = "";

                $(".uploadResult li").each((i, obj) => {
                    let target = $(obj);
                    let fake = thumURL.lastIndexOf("/");
                    thumURL = thumURL.substring(0,fake)+"_"+thumURL.substring(fake+1);
                    // str += "<input type='hidden' name='img' value='"+target.data('path')+"/"+target.data('uuid')+"/"+target.data('name') +"'>";
                    str += "<input type='hidden' name='img' value='"+thumURL+"'>";

                    $(".inputImg").val(target.data('path')+"/"+target.data('uuid')+"_"+target.data('name'))
                });


                $("form").submit();
            });

        });
    </script>
    <!-- Popper js -->
    <script th:src="@{/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
</body>
</html>